@model User
@{
    ViewData["Title"] = "Login";
}



<form asp-action="Login" method="post">
    <table>
        <tr>
            <td><label>Email:</label></td>
            <td><input name="email" /></td>
        </tr>
        <tr>
            <td><label>Password:</label></td>
            <td><input name="password" type="password" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                <button type="submit">Login</button>
            </td>
        </tr>
    </table>
</form>